.design_page {
    display: grid;
    /* grid-area: 50% 50%/1fr 1fr; */
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;

    width: 100vw;
    height: 100vh;

    /* padding-left: 50px;
    padding-top: 20px; */
}

.outer3 {
    grid-column: span 2;
    background-color: #ffffff;
    text-align: left;
    /*  左对齐*/

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;

    padding-top: 20px; */

}

.head .p1 {
    color: #43abaa;
}

.head .p2 {
    color: #d6eb74;
    margin-top: 30px;
}

.head .p3 {
    margin-top: 15px;
    color: #a4a4a4;
}

.outer1 {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2bb3b1;
}

.outer2 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4abebd;

}

.outer3 {

    display: flex;
    justify-content: center;
    align-items: center;
    /* 实现：整体水平垂直居中，内部元素左对齐*/

}

/*  left-side */
.left_side {
    background-color: #2bb3b1;
    /* padding-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center; */

    color: #ebfcfc;
    text-align: left;
}

.left_side .p2 {
    margin: 0px;
}

.left_side .p2 span {
    font-size: 3rem;

}

.left_side button {
    color: #ebfcfc;
    font-size: 20px;
    width: 300px;
    height: 60px;
    background-color: #bfdf32;
    border: none;
    border-radius: 10px;
    /*  圆角按钮*/

    display: flex;
    align-items: center;
    justify-content: center;


}

/*  right-side*/

.right_side {
    background-color: #4abebd;
    /* padding-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center; */
    color: #ebfcfc;
    text-align: left;

}


/* .right_side .p1 {} */
